.fundo{
    background: linear-gradient(#ffffffc8, rgb(120, 129, 227));
    color: black;
    width: 400px;  
    padding: 13px;
}
.lista{
    background: linear-gradient(#ffffff00, rgba(255, 255, 255, 0.072));
    width: 250px;
    border-radius: 3%;
    padding: 5px;
}
.input{
    display: flex;
    flex-direction: column;
    width: 200px;
    padding: 3px;
}
.botaoCriar{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}